<template>
<div class="container-fluid padre">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <cliente @popup="pop = $event"/>
        </div>
    </div>
    <div class="popup row align-items-center justify-content-center" v-if="pop">
        <div class="col-md-5">
            <no-encontrado/>
        </div>

    </div>
</div>
</template>

<script>
export default {
data() {
    return {
        pop:false
    }
},
}
</script>

<style>
.padre {
    position: relative;
}

.popup{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin:auto;
    width: 100%;
    min-height: 100%;
    top: -1.5rem;
}
</style>
