<template>
<div class="padre">
    <div class="card">
        <div class="card-header">Solicitud de Registro</div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <form action="">
                        <div class="row">
                            <div class="col col-md-5 col-ms-4">
                                <input type="number" name="" id="" class="form-control " style="" placeholder="ingrese su cedula">
                            </div>
                            <div class="col col-md-5 col-ms-4">
                                <button type="button" class="btn btn-secondary" v-if="rgs">
                                    <img src="https://image.flaticon.com/icons/svg/751/751381.svg" style="width:25px;" alt="">
                                </button>
                                <button type="button" class="btn btn-success" style="float: right;" @click="regtru" v-if="rgs">
                                    <img src="https://lh3.google.com/u/0/d/1R9vwYTIMrZuZjDNySVXy0Ec0B5-6Fdt0=w1366-h547-iv2" alt="" style="width:25px;">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label>NOMBRES</label>
                                <input class="form-control" type="text" :readonly="rgs" :placeholder="cliente.nombres">
                                <br>
                                <label>APELLIDOS</label>
                                <input class="form-control" type="text" :readonly="rgs" :placeholder="cliente.apellidos">
                                <br>
                                <label for="">EMAIL</label>
                                <input class="form-control" type="email" name="" id="" :readonly="rgs" :placeholder="cliente.email">
                                <br>

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label>TELEFONO</label>
                                <input class="form-control" type="tel" name="" id="" :readonly="rgs" :placeholder="cliente.telefono">
                                <br>
                                <label>DIRECCION</label>
                                <input class="form-control" type="text" name="" id="" :readonly="rgs" :placeholder="cliente.direc">
                                <br>
                                <label>FECHA DE NACIOMIENTO</label>
                                <input class="form-control" type="date" name="" id="" :readonly="rgs">
                               
                            </div>
                        </div>
                         <hr>
                         <br>
                        <div class="container row center-block">
                            <div class="col-md-6">
                                <input class="form-control" type="number" name="" id="" placeholder="CANTIDAD SOLICITADA">
                                <br>
                            </div>
                            <div class="col-md-">
                                <button type="button" class="btn btn-primary" @click="habilarpop()">Solicitar</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            cliente: {
                nombres: 'NOMBRES',
                apellidos: 'APELLIDOS',
                email: 'EMAIL',
                telefono: 'TELEFONO',
                direc: 'DIRECCION',
                fcn: ''
            },
            rgs: true,
            pop: false,
        }
    },
    methods: {
        regtru() {
            this.rgs = !this.rgs;
            console.log(this.rgs);
        },
        habilarpop() {
            this.pop = !this.pop;
            this.$emit('popup', this.pop)

        },
    },

}
</script>
