<template>
<div class="padre">
    <div class="card">
        <div class="card-header">Solicitud de Registro</div>
        <div class="card-body">
            <cliente />
            <br>
            
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            pop: false
        }
    },

    methods: {
        habilarpop() {
            this.pop = !this.pop;
            this.$emit('popup', this.pop)

        },
    }

};
</script>

<style>
#padre {
    position: relative;
    background-color: green;
}
</style>
