<template>
<div class="card">
    <div class="card-header">
        Cliente no encontrado
    </div>
    <div class="card-body">
        <h4 class="card-text">Este cliente no esta registado</h4>
        <br>
        <button class="btn btn-success">registrar</button>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>